<div class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand" href="/">Pandox Divulga!</a>
        <div class="nav-collapse collapse navbar-responsive-collapse">

            <ul class="nav navbar-nav">
                <li><a href="#">Home</a></li>
                <li><a href="#/login">Acessar conta</a></li>
            </ul>
            <p id="navBarUser" class="navbar-text pull-right" style="display: none;">Bem vindo, Matheus Messora</p>
        </div><!-- /.nav-collapse -->
    </div>
</div>