<div class="jumbotron">
    <h1>Pandox Divulga!</h1>
    <p class="lead">Divulgue suas redes sociais, Facebook, Twitter, YouTube, em um único lugar.</p>
    <a class="btn btn-large btn-danger" href="#/cadastrar">Apenas R$<strong>9,90</strong> por mês.</a>
</div>
<div class="featurette">
    <img class="featurette-image pull-right"
         src="http://twitter.github.io/bootstrap/assets/img/examples/browser-icon-chrome.png">
    <h2 class="featurette-heading">Seus clientes mais perto da sua empresa!</h2>
    <p class="lead">Todas as suas informações e contato em um único lugar. Mais facilidade para divulgar para seus
        clientes.</p>
</div>
<hr class="featurette-divider">
<div class="featurette featurrete-aqua">
    <div class="container">
        <div class="col-3 col-lg-3">
            <img src="http://cdn1.iconfinder.com/data/icons/yooicons_set01_socialbookmarks/512/social_facebook_box_blue.png" width="220" height="220">
        </div>
        <div class="col-9 col-lg-9">
            <h2>
                Compartilhe! <span class="muted">Atualize suas redes sociais e exiba em um só lugar.</span>
            </h2>
            <p class="lead">Exiba seus vídeos do YouTube, suas novidades do Facebook e as curiosidades da sua empresa via
                Twitter em uma única página. Facilite a vida do seu cliente trazendo para ele todas as informações em um único lugar.</p>
        </div>
    </div>
</div>
<hr class="featurette-divider">
<div class="featurette">
    <img class="featurette-image pull-right"
         src="http://cdn1.iconfinder.com/data/icons/pretty-office-10/512/Colorpencils-512.png">
    <h2 class="featurette-heading">
        Personalize! <span class="muted">Cor, fontes, textos. Personalize tudo do seu jeito.</span>
    </h2>
    <p class="lead">Altere as cores de acordo com a logomarca da sua empresa, mude a fonte de texto e personalize as
        imagens.</p>
</div>