<div class="container">
    <div class="row">
        <h2>Buscar Lojas</h2>
        <p>Por nome: <input ng-model="query"></p>
        <p>Por categoria: <input ng-model="query"></p>

    </div>

    <div class="row" id="metro-ui">

        <h1>Restaurantes</h1>
        <div class="col-6 col-lg-3 metroBox" ng-repeat="page in pages| filter:query" style="background-image: url('{{page.img}}')">
            <h5><a href="#/loja/{{ page.url }}">{{ page.name }}</a></h5>
            <p><a href="#">{{ page.category.name }}</a></p>
        </div>


        <h1>Bares e Baladas</h1>
        <div class="col-6 col-lg-3 metroBox" ng-repeat="page in pages| filter:query" style="background-image: url('{{page.img}}')">
            <h5><a href="#/loja/{{ page.url }}">{{ page.name }}</a></h5>
            <p><a href="#">{{ page.category.name }}</a></p>
        </div>

    </div>


</div>