<div class="container">

    <div class="jumbotron">
        <h1>{{ page.name }}</h1>

        <h3>{{ page.name }}</h3>
    </div>


    <div class="row">
        <div class="col-12">
            <h2>Fotos</h2>
        </div>

        <div class="col-12">
            <div class="metroBox" style="background-image: url('{{page.img}}')">
                    aaa|BBB
                </div>
        </div>
        <div class="col-lg-3 col-6" ng-repeat="image in page.imageList">
            <img src="http://cdn.pandox.com.br/resources/img/user/{{ image.name }}" width="200" height="200">

        </div>
    </div>
    <pre>{{page.imageList | json}}</pre>

    <div class="row">
        <div class="col-12">
            <h2>Informações</h2>
        </div>

        <div class="col-lg-3 col-6" ng-repeat="quality in page.qualityList">
            {{ quality.name }}
        </div>
    </div>
    <pre>{{page.qualityList | json}}</pre>


    <div class="row">
        <div class="col-12">
            <h2>Contato e Endereço</h2>
        </div>

        <div class="col-lg-6 col-6">
            (11) 3030-6555
        </div>
        <div class="col-lg-6 col-6">
            Rua Paulo Orozimbo Faria Lima, 1325
        </div>
    </div>

</div>