<div class="container">

	<div class="pageBackground" style=''>
	<div class="jumbotron">
		<h1>{{ page.name }}</h1>
		<h3>Facebook | Twitter</h3>
	</div>

	<div class="row-fluid" id="userPageBox" data-id="$page.socialUser.id">
		<div class="span8 offset2" id="userPageBoxFeed" >

            <div id="fb-root"></div>

            <div class="row-fluid well" id="social">
                Facebook WALL
            </div>

		</div>
	</div>

	<div class="row-fluid pageContact">
		<div class="span2"></div>
		<div class="span8">
			<h2>Contato</h2>
		</div>
		<div class="span2"></div>
	</div>

	<div class="row-fluid pageContact">
		<div class="span3"></div>
		<div class="span6 well">
            <span ng-repeat="phone in page.phones">
				<h3>Telefone ({{ phone.ddd }}) {{ phone.phone }}</h3>
            </span>
                <h3>E-mail {{ page.email }}</h3>
		</div>

		<div class="span3"> </div>
	</div>

    </div>
</div>