<div class="navbar navbar-inverse" style="border-radius: 0px;">
    <ul class="nav navbar-nav" id="adminul">
        <li class="active" id="pageli"><a ng-click="reset()" ng-href="#/admin" style="text-align: center; padding-left: 25px; padding-right: 25px;">
            <span class="glyphicon glyphicon-file" style="font-size: 26px;"></span><br />
            Páginas</a>
        </li>
        <li id="pwdli"><a ng-click="reset()" ng-href="#/senha" style="text-align: center; padding-left: 25px; padding-right: 25px;">
            <span class="glyphicon glyphicon-lock" style="font-size: 26px;"></span><br />
            Senha</a>
        </li>
    </ul>
</div>