<form id="pageForm" enctype="application/x-www-form-urlencoded" accept-charset="UTF-8" class="simple-form form-horizontal"  novalidate ng-show="pages.length == 0">
<!--<form id="pageForm" enctype="multipart/form-data" accept-charset="UTF-8" class="simple-form form-horizontal"  novalidate ng-show="pages.length == 0">-->
<!--<form id="pageForm" class="simple-form form-horizontal" novalidate ng-show="pages.length == 0">-->
	<h2 id="pageFormH1">Crie sua página</h2>


	<input class="form-control" type="hidden" id="id" name="pageForm.id" ng-model="pageForm.id">

    <div class="form-group" id="urlDiv">
        <label for="url" class="col-lg-2 control-label">Endereço da página: </label>
        <div class="col-lg-10">
            <input class="form-control" type="text" id="url" name="url" placeholder="divulga.pandox.com.br/" ng-model="pageForm.url" >
            <p class="help-block"></p>
        </div>
    </div>

    <div class="form-group" id="nameDiv">
            <label for="name" class="col-lg-2 control-label">Título da página: </label>
        <div class="col-lg-10">
            <input class="form-control" type="text" id="name" name="name" ng-model="pageForm.name" >
            <span id="nameHelp" class="help-inline"></span>
        </div>
    </div>

    <div class="form-group" id="descriptionDiv">

            <label for="name" class="col-lg-2 control-label">Descrição: </label>
        <div class="col-lg-10">
            <input class="form-control" type="text" id="name" name="name" ng-model="pageForm.name" >
            <span id="descriptionHelp" class="help-inline"></span>
        </div>
    </div>

    <div class="form-group" id="categoryDiv">
        <label for="category" class="col-lg-2 control-label">Categoria: </label>
        <div class="col-lg-10">
            <select ng-model="pageForm.category.id" ng-options="c.id as c.name for c in categoryList" id="category">
                <option value="">-- Escolha a categoria --</option>
            </select>
            <pre>{{categoryList | json}}<pre>
            <span id="categoryHelp" class="help-inline"></span>
        </div>
    </div>

    <div class="form-group" id="qualityDiv">
        <label for="quality" class="col-lg-2 control-label">Caracteristicas: </label>
        <div class="col-lg-10">
            <ul id="quality">
                <li ng-repeat="quality in qualityList" ng-class="{'selected':quality.selected}">
                    <a href="" ng-click="toggle(quality)">{{ quality.description }}</a>
                </li>
            </ul>
            <pre>{{qualityList | json}}<pre>
            <span id="qualityHelp" class="help-inline"></span>
        </div>
    </div>


    <div class="form-group" id="emailDiv">
            <label for="email" class="col-lg-2 control-label">E-mail: </label>
        <div class="col-lg-10">
            <input class="form-control" type="text" id="email" name="email" placeholder="email@email.com.br" ng-model="pageForm.email">
            <span id="emailHelp" class="help-inline"></span>
        </div>
    </div>

    <!--<div class="form-group" id="imgDiv">-->
            <!--<label for="img" class="col-lg-2 control-label">Background: </label>-->
        <!--<div class="col-lg-10">-->
            <!--<input class="form-control" type="file" id="img" name="img" ng-model="pageForm.file">-->
            <!--<span id="imgHelp" class="help-inline"></span>-->
        <!--</div>-->
    <!--</div>-->


    <!--<div class="form-group" id="phoneDiv">-->

            <!--<label for="ddd" class="col-lg-2 control-label">Telefone: </label>-->
        <!--<div class="col-lg-10">-->
            <!--<input class="form-control" type="text" id="ddd" size="3" maxlength="2" class="span2" placeholder="ddd" ng-model="pageForm.phonesForm[0].ddd">-->
            <!--<input class="form-control" type="text" id="phone"  class="span10" ng-model="pageForm.phonesForm[0].phone">-->
            <!--<span id="phoneHelp" class="help-inline"></span>-->
        <!--</div>-->
    <!--</div>-->

    </div>
    <div class="form-group ">
        <div class="col-offset-2 col-lg-10">
            <button id="btnPage" class="btn btn-large btn-primary" type="button" ng-click="persist(pageForm)">Salvar</button>
        </div>
    </div>

</form>